################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CreationalPatterns/Singleton/.vs
/CreationalPatterns/Singleton/Singleton/obj
/CreationalPatterns/Prototype/bin/Debug/net8.0
/CreationalPatterns/Prototype/obj
