################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CreationalPatterns/Singleton/.vs
/CreationalPatterns/Singleton/Singleton/obj
/CreationalPatterns/Prototype/bin/Debug/net8.0
/CreationalPatterns/Prototype/obj
/CreationalPatterns/FactoryMethod/bin/Debug/net8.0
/CreationalPatterns/FactoryMethod/obj
/CreationalPatterns/Builder/bin/Debug/net8.0
/CreationalPatterns/Builder/obj/Debug/net8.0
/CreationalPatterns/Builder/obj/Release/net8.0
/CreationalPatterns/Builder/obj
/Structural Patterns/Bridge/bin/Debug/net8.0
/Structural Patterns/Bridge/obj
/Structural Patterns/Proxy/bin/Debug/net8.0
/Structural Patterns/Proxy/obj/Debug/net8.0
/Structural Patterns/Proxy/obj/Release/net8.0
/Structural Patterns/Proxy/obj
