################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CreationalPatterns/Singleton/.vs
/CreationalPatterns/Singleton/Singleton/obj
/CreationalPatterns/Prototype/bin/Debug/net8.0
/CreationalPatterns/Prototype/obj
/CreationalPatterns/FactoryMethod/bin/Debug/net8.0
/CreationalPatterns/FactoryMethod/obj
/CreationalPatterns/Builder/bin/Debug/net8.0
/CreationalPatterns/Builder/obj/Debug/net8.0
/CreationalPatterns/Builder/obj/Release/net8.0
/CreationalPatterns/Builder/obj
/Structural Patterns/Bridge/bin/Debug/net8.0
/Structural Patterns/Bridge/obj
/Structural Patterns/Proxy/bin/Debug/net8.0
/Structural Patterns/Proxy/obj/Debug/net8.0
/Structural Patterns/Proxy/obj/Release/net8.0
/Structural Patterns/Proxy/obj
/Structural Patterns/Decorator/bin/Debug/net8.0
/Structural Patterns/Decorator/obj/Debug/net8.0
/Structural Patterns/Decorator/obj/Release/net8.0
/Structural Patterns/Decorator/obj
/Structural Patterns/Adapter/bin/Debug/net8.0
/Structural Patterns/Adapter/obj/Debug/net8.0
/Structural Patterns/Adapter/obj/Release/net8.0
/Structural Patterns/Adapter/obj
/Structural Patterns/Facade/bin/Debug/net8.0
/Structural Patterns/Facade/obj
/Structural Patterns/Composite/bin/Debug/net8.0
/Structural Patterns/Composite/obj
/Structural Patterns/Flyweight/bin/Debug/net8.0
/Structural Patterns/Flyweight/obj
/Behavioral Patterns/ChainOfResponsibility/bin/Debug/net8.0
/Behavioral Patterns/ChainOfResponsibility/obj
/Behavioral Patterns/Command/bin/Debug/net8.0
/Behavioral Patterns/Command/obj
/Behavioral Patterns/Iterator/bin/Debug/net8.0
/Behavioral Patterns/Iterator/obj
